/*
Name: Postes del Norte
Author URI: http://cristianharo.com/
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    --blue-dark: #1E2D3B;
    --blue-palid: rgb(61,89,117);
    --common-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary: #F4BD50;
    --background: #191919;
    --gray: #F7F7F7;
    --navbar-height: 100px;

    
    --active-color: hsl(204 100 53);
    --bg-color: #e1e3e5;
    --icon-default: hsl(203 5 75);
    --icon-accent: hsl(203 15 98);
    --navigation-color: hsl(203 5 25 / 0.3);
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 340px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 1.96;
    color: var(--dark);
    height: auto;
    background-color: white;
    scroll-behavior: smooth;
    font-family: var(--common-font);
  }
ul {list-style: none;}
p {margin: 0;}
a {text-decoration: none; color: var(--blue);}
a:visited {color: var(--blue);}
img {width: 100%;height: auto;}
.sticky {
    position: sticky;
    left: 0;
    top: 0;
}
.bold {font-weight: bold;}
.blue.dark-gr {
    background-color: var(--blue-dark);
}
.bg-gray {background-color: var(--gray);}
.bg-amarillo {background-color: #EDCD1F;}
.w700 {
    max-width: 960px;
    margin: 0 auto;
}
.w800 {
    max-width: 800px;
    margin: 0 auto;
}
.w1000 {
    max-width: 1100px;
    margin: 0 auto;
}
/*HEADER*/
.background {
    display: block;
    opacity: 1;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 2;
}
.menu__wrapper .logo {
    display: flex;
    height: 100px;
    margin: 0;
    width: auto;
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 40px;
    background-color: var(--gray);
    align-items: center;
}
.menu__bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
    gap: 2rem;
    background: var(--blue-dark);
    height: auto;
    opacity: 1;
}
.menu-icon {
    cursor: pointer;
    display: flex;
    height: 2rem;
    width: 2rem;
}
.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 50px;
    padding: 30px 50px 0;
    background-color: var(--blue-dark);
}
.logo svg {
    width: 2rem;
    height: 2rem;
}
.navigation>li {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}
.navigation>li>a {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to right,
            var(--primary),
            var(--primary) 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 0.2rem 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}
.navigation>li>a:before {
    content: '';
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 0.125rem;
    transition: all 0.2s ease-in-out;
}
.navigation>li>a:hover {
    background-position: 0;
}
.navigation>li>a:hover::before {
    width: 100%;
}
/* GRID-3 Box */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 0;
}
.grid-3 .box {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    flex-grow: 1;
}
.grid-3 .box .bg {
    width: 100%;
    height: 100%;
    min-height: 240px;
    background-size: cover;
    background-position: center;
}
.grid-3 .box .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    gap: 10px;
}
.grid-3 .box .content .title {
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
    color: var(--blue-palid);
}
/* GRID-4 Box */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 0;
}
/* GRID-4 Box */
.grid-4-amarillo {
    display: grid;
    padding: 60px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.grid-4-amarillo .item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #475F70;
    line-height: 1.2;
    font-weight: bold;
    font-size: 20px;
}
.grid-4-amarillo .item .big {
    line-height: 1.2;
    font-weight: bold;
    font-size: 60px;
}
/* Accesorios */
.box-accesorios {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    flex-grow: 1;
    padding: 20px 0;
}
.box-accesorios .bg {
    width: 100%;
    height: 100%;
    min-height: 240px;
    background-size: cover;
    background-position: center;
}
.box-accesorios .title {
    background-color: #1D67CD;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Sobre nosotros */
#nosotros {
    background-color: var(--gray);
    margin: 40px 0 0;
}
#nosotros .title-amarillo h2 {
    font-size: 55px;
    line-height: 1.2;
    text-align: left;
}
#nosotros .title-amarillo {
    font-size: 54px;
    line-height: 1.2;
    align-items: flex-start;
    text-align: left;
    padding: 0 0 40px;
}
#nosotros .title-amarillo .bar {
    display: block;
    width: 160px;
    height: 8px;
    background-color: #EDCD1F;
}
.box-nosotros {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 40px;
    height: 100%;
    justify-content: center;
}
.box-nosotros .text {
    width: 450px;
    padding: 40px 0;
}
.box-nosotros .head {
    min-width: 500px;
}
.box-nosotros .head .bg {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: right;
    background-size: 50% 100%;
    background-repeat: no-repeat;  
}
.box-nosotros .resume {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
/* Featured */
.featured {
    width: 100%;
    height: auto;
    background-image: url(assets/image_1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
.featured .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 100vh;
    padding-bottom: 20%;    
    font-weight: 500;
    font-size: 50px;
    line-height: 1.3;
    text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}
/* Productos */
#productos .sub {
    padding: 60px 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#productos h3 {
    font-size: 50px;
    line-height: 1.2;
    text-transform: capitalize;
}
#productos .text {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.7;
}
.galeria-1 {
    margin: 0 30px;
    padding: 30px;
}
/*Titulos*/
.title-amarillo {    
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 60px 0;
    align-items: center;
}
.title-amarillo h2 {
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
}
.title-amarillo .bar {
    display: block;
    width: 160px;
    height: 8px;
    background-color: #EDCD1F;
}
.flex-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
}
/* Mision */
#mision {
    padding: 0;
}
.mision-flex {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px 0;
}
.mision-flex .item {
    display: flex;
    flex-direction: row;
}
.mision-flex .item .bg {
    width: 100%;
    height: 100%;
    min-width: 600px;
    background-size: cover;
    background-position: center;
}
.mision-flex .item .texto {
    background-color: white;
    padding: 60px;
    margin: 20px 0 20px -60px;
}
.mision-flex h2 {
    color: #757575;
    font-size: 42px;
    text-transform: uppercase;
}
.mision-flex .title-amarillo {
    align-items: flex-start;
    text-align: left;    
}
/* Accesorios */
.galeria-2 {
    padding: 20px 0;
}
.galeria-2 .item {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    flex-grow: 1;
    padding: 40px 0;
}
.galeria-2 .item .bg {
    width: 100%;
    height: 100%;
    min-height: 240px;
    background-size: cover;
    background-position: center;
}
.galeria-2 .item .title {
    background-color: white;
    color: #333;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Calidad */
#calidad {
    background-image: url(assets/nosotros.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}
#calidad .politica {
    max-width: 650px;
    margin: 0 auto;
    padding: 60px;
    background-color: white;
}
#calidad .politica .title {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    padding: 0 0 40px;
}
#calidad .politica .resume {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#calidad .politica .resume a {
    color: var(--blue-dark);
    text-decoration: underline;
}
#calidad .politica .resume ul { 
    padding: 0 20px;
}
#calidad .politica .resume ul li {
    margin: 5px;
    list-style-type: square;
}
#calidad .politica .resume .flex-vertical {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
/* Historia */
#historia {
    padding: 60px 0;
    background-color: var(--gray);
}
#historia .content {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 0;
    background-color: white;
}
#historia .content .text {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.7;
    padding: 40px;
}
#historia .content .preview .bg {
    width: 100%;
    height: 100%;
    min-width: 500px;
    background-size: cover;
    background-position: center;
}
#historia .content .title {
    font-size: 32px;
    font-weight: 500;
    display: flex;
}
#historia .content .sub {
    font-size: 20px;
    font-weight: 500;
    display: flex;
}
#historia .content .resume {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    gap: 10px;
}
.galeria-lightbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px 0;
}
/* PLANTAS */
#plantas {
    padding: 0;
}

.mySlides {display: none}
#plantas img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
#plantas .text {
  color: #f2f2f2;
  font-size: 32px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #F4BD50;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#contacto {padding: 0;}
.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding: 60px 0;
}
.contacto .sede {
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--blue-dark);
    display: flex;
    padding: 0 0 10px;
}
.contacto .oficina {
    line-height: 1.6;
}
.contacto .oficinas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer .social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
/* Botones */
.boton-amarillo {
    display: flex;
    padding: 10px;
    background-color: #EDCD1F;
    color: white!important;
    text-align: center;
    justify-content: center;
    width: fit-content;
    margin: 30px auto 0;
    min-width: 200px;
}
@media (min-width: 1000px) {
    .menu-icon {
        display: none;
    }
}
@media (max-width: 1000px) {
    .navigation {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .navigation--mobile {
        top: var(--navbar-height);
        position: absolute;
        right: 0;
        display: flex;
        padding: 5rem 3.5rem;
        min-height: 100%;
        background-color: var(--background);
        gap: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0.95;
        animation: fadein 0.3s forwards;
    }
    @keyframes fadein {
        0% {
            opacity: 0;
            width: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }
    }
    .navigation--mobile--fadeout {
        animation: fadeout 300ms forwards;
    }
    @keyframes fadeout {
        0% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }
        100% {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}
@media (max-width: 800px) {
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;        
    }
    .featured .title {
        text-align: center;
        height: 100vh;
        padding-bottom: 20%;
        font-weight: 500;
        font-size: 28px;
    }
    .title-amarillo {
        padding: 40px 0;
    }
    .title-amarillo h2 {
        font-size: 32px;
    }
    #nosotros .title-amarillo h2 {
        font-size: 32px;
    }
    #productos h3 {
        font-size: 32px;
    }
    .galeria-1 {
        margin: 0 15px;
        padding: 15px;
    }
    .mision-flex {
        gap: 20px;
        padding: 40px 0;
    }
    #calidad .politica {
        padding: 30px;
    }
    .mision-flex h2 {
        color: #757575;
        font-size: 32px;
    }
    .mision-flex .item .texto {
        background-color: white;
        padding: 20px;
        margin: 20px;
    }
    .mision-flex .title-amarillo {
        padding: 30px 0;
    }
    .box-nosotros {
        display: flex;
        flex-direction: column;
    }
    .box-nosotros .text {
        width: auto;
        padding: 40px 20px;
    }
    .box-nosotros .head {
        min-width: auto;
    }
    .box-nosotros .head .bg {
        width: 100%;
        height: 100%;
        min-height: 300px;
        background-attachment: inherit;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .grid-4-amarillo {
        display: grid;
        padding: 60px 40px;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .mision-flex .item {
        display: flex;
        flex-direction: column;
    }
    .mision-flex .item .bg {
        min-height: 300px;
        min-width: auto;
    }
    #historia .content {
        display: flex;
        flex-direction: column;
    }
    #historia .content .preview .bg {
        width: 100%;
        height: 100%;
        min-height: 300px;
        min-width: auto;
        background-size: cover;
        background-position: center;
    }
    .contacto {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 20px;
    }
    .grid-4-amarillo .item .big {
        line-height: 1.2;
        font-weight: bold;
        font-size: 40px;
    }
    .grid-4-amarillo .item .resume {
        font-size: 15px;
    }
    .galeria-2 {
        padding: 20px;
    }
    .galeria-2 .item {
        padding: 0px;
    }
}
